<div class="auth-container" style="flex-direction: column; gap: 20px;">
  
  <div style="text-align: center; color: #333; margin-top: 30px;">
    <h1 style="margin: 0; font-size: 2rem; font-weight: 700;">Welcome to MediConnect</h1>
    <p style="margin: 5px 0 0 0; color: #666;">Your Health, Connected.</p>
  </div>
  <div class="card auth-card">
    <div class="card-header" style="justify-content: center;">
      <h3>Login</h3>
    </div>
    
    <div style="padding: 2rem;">
      <div *ngIf="!showForgotPassword">
        <form [formGroup]="loginForm" (ngSubmit)="handleLogin()" style="display: flex; flex-direction: column; gap: 15px;">
          <div>
            <label>Email</label>
            <input type="email" formControlName="email" placeholder="email@example.com">
          </div>
          <div>
            <label>Password</label>
            <input type="password" formControlName="password" placeholder="******">
          </div>
          <button type="submit" class="btn-primary" [disabled]="loginForm.invalid">Sign In</button>

          <div style="display: flex; justify-content: space-between; font-size: 0.85rem; margin-top: 10px;">
             <a (click)="toggleForgotPassword()" style="cursor:pointer; color: #666;">Forgot Password?</a>
             <a routerLink="/register" style="cursor:pointer; color: #333; font-weight: 600;">Create Account</a>
          </div>
        </form>
      </div>

      <div *ngIf="showForgotPassword">
         <form [formGroup]="forgotForm" (ngSubmit)="handleForgotPassword()">
            <label>Enter email to reset password</label>
            <input type="email" formControlName="email" style="margin: 10px 0;" placeholder="Your email">
            <button class="btn-primary" style="width: 100%;" [disabled]="forgotForm.invalid">Send Link</button>
            <a style="display:block; text-align:center; margin-top:15px; font-size:0.9rem; cursor:pointer" (click)="toggleForgotPassword()">Back to Login</a>
         </form>
      </div>
    </div>
  </div>
</div>