<h2>Welcome, {{userName}}</h2>
<p>Your role: {{role}}</p>
<button (click)="logout()">Logout</button>
<button (click)="editProfile()">Edit Profile</button>

<hr>

<label>Department:</label>
<select [(ngModel)]="selectedDepartmentId" (change)="onDepartmentChange()">
  <option [ngValue]="null">-- Select Department --</option>
  <option *ngFor="let d of departments" [ngValue]="d.id">{{d.name}}</option>
</select>

<label>Service:</label>
<select [(ngModel)]="selectedServiceId" (change)="loadSlots()">
  <option [ngValue]="null">-- Select Service --</option>
  <option *ngFor="let s of services" [ngValue]="s.id">{{s.name}}</option>
</select>

<hr>

<div *ngIf="selectedServiceId">
  <button (click)="prevDay()">⬅ Previous Day</button>
  <span>{{ formattedDate }}</span>
  <button (click)="nextDay()">Next Day ➡</button>

  <div *ngFor="let group of groupedSlots" class="doctor-group">

    <h3>
  {{ group.doctor.user.firstName || 'Unknown' }} {{ group.doctor.user.lastName || '' }}
</h3>

    <div *ngFor="let slot of group.slots" class="slot-item">
      <label>
        <input type="radio" [name]="'slot-' + group.doctor.id" [(ngModel)]="selectedSlotId" [value]="slot.id">

        {{ slot.startTime.substring(0,5) }} - {{ slot.endTime.substring(0,5) }}
      </label>
    </div>

    <hr>
  </div>

  <button (click)="confirmAppointment()" [disabled]="!selectedSlotId">Confirm Appointment</button>
</div>